SPRING_PROFILE=dev
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/erp_mobilesco?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=change_me
JWT_SECRET_BASE64=change_me_base64_64_bytes
UPLOAD_DIR=./uploads
